#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
h2
{
	text-align:center;
	 margin-top:100px;
	 color:white;
}
.btn-info
{
	margin-left:400px;
	width:80px;
	 background-color:black;
	 border-color:black;
}
h1
{
	font-size:100px;
	text-align: center;
}
#main
{
	padding-top:20px;
	color:white;
	padding-left:580px;
}
#choice
{
	margin-left: 400px;
	color:white;
}
#option
{
	margin-left: 350px;
}

h4
{
	text-align:center;
}

footer
{
	background-color:black;
	padding-top: 10px;
}
